extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          span.blah <img src='/images/onenotelogo.png' width='45' height='45' style="marigin-top:0px">&nbsp;&nbsp; OneNote Alerts
        #navbar.navbar-collapse.collapse
         div.navbar-form.navbar-right
          a.btn.btn-success( id='loginButton', href=authUrl) Sign in
    //Carousel
    .jumbotron
      .container
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
          .carousel-inner(role='listbox')
            .item.active
              img.first-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
              .carousel-caption
                h2 NEVER MISS A NOTE!
                p You miss a note, we tell you what you missed.
                p
                  //a.btn.btn-lg.btn-primary(role='button', id='loginButton') Sign In
            .item
              img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
              .carousel-caption
                h2 Missed the email?
                p If you dont see our email, your money is not returned.
         // a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='false')
            span.sr-only Previous
         // a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='false')
            span.sr-only Next
        // /.carousel
     script.
      window.authUrl = '!{authUrl}';
     script(src="/javascripts/index.js")