extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') Don&apos;t Miss A Note
    //Carousel
    .jumbotron
      .container
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
          .carousel-inner(role='listbox')
            .item.active
              img.first-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
              .carousel-caption
                h2 NEVER MISS A NOTE!
                p You miss a note, we tell you what you missed.
                p
                  a.btn.btn-lg.btn-primary(role='button', id='loginBtn') Sign In
            .item
              img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
              .carousel-caption
                h2 Missed the email?
                p If you dont see our email, your money is not returned.
         // a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='false')
            span.sr-only Previous
         // a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='false')
            span.sr-only Next
        // /.carousel
      #sds(display='none')
       form(id="createExamples" name="createExamples", method="post") 
        button(type="submit", name="submit", value="email" disabled) Send mail
        br
        button(type="submit", name="submit", value="testUserInfo" disabled) Get user info
        br
        button(type="submit", name="submit", value="getNotebooks" disabled) Get all notebooks
        br
        button(type="submit", name="submit", value="getNotebooksWithExpand" disabled) Get all notebooks with sections and pages
        br
        button(type="submit", name="submit", value="getSharedPages" disabled) Get all pages that are shared
        br
        button(type="submit", name="submit", value="get10SharedPages" disabled) Get 10 shared pages' metadata
        br
     script.
      window.authUrl = '!{authUrl}';
     script(src="/javascripts/index.js")